body {
    background-color: rgba(201, 201, 201, 0.5);
}
#content-main {
    max-width: 372px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 10%;
}

.home-form {
    margin-top: 20px;
    padding: 6%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.129412) 0px 1px 3px 0px;
/*    text-align: left;*/
    padding-bottom: 50px;
}

#loginForm label {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans;
    color: rgb(119, 119, 119);
/*    color: red;*/
    font-size: 14px;
    line-height: 21px;
}

#loginForm label input {
    background: #fbfbfb;
    font-size: 24px;
}

#user_submit {
    margin: 10px;
    padding: 6px 14px;
    font-size: 14px;
    background: #1e8cbe;
    border-color: #0074a2;
    box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
    color: #ffffff;
}

#signup-button {
    font-family: Courier New;
    color: #3498db;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #1f628d 2px;
    text-decoration: none;
}
#signup-button:hover {
    background: #dfeaf0;
    background-image: -webkit-linear-gradient(top, #dfeaf0, #87cfff);
    background-image: -moz-linear-gradient(top, #dfeaf0, #87cfff);
    background-image: -ms-linear-gradient(top, #dfeaf0, #87cfff);
    background-image: -o-linear-gradient(top, #dfeaf0, #87cfff);
    background-image: linear-gradient(to bottom, #dfeaf0, #87cfff);
    text-decoration: none;
}
