<!doctype html>
<html>
    <head lang="en">
        <meta charset="utf-8"/>
        <title>Health App Web &rsaquo; Log In</title>
        <link rel="stylesheet" href="../css/main.css"/>
    </head>
    <body>
        <div id="content-main">
            <img src="../img/logo-square-small.png"/>
            <form id="loginForm" action="/loginLocal" method="post">
                <div>
                    <label for="user_email">
                        Email<br/>
                        <input type="text" id="user_email" name="useremail" size="20"/>
                    </label>
                </div>
                <div>
                    <label for="user_password">
                        Password<br/>
                        <input type="password" id="user_password" name="userpassword" size="20"/>
                    </label>
                </div>
                <div>
                    <input type="submit" id="user_submit" value="Log In"/>
                </div>
            </form>
        </div>
    </body>
</html>